.Card {
    margin: auto;
    width: 50%;
    padding: 400px;
  }

  .projects-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: auto;
grid-gap: 100px;
padding: .5rem;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
    
